body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#selection {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1000;
}

.form-control {
  width: 600px;
}
.form-control label, .form-control input {
  width: 100%;
}

.canvas {
  width: 100%;
  height: auto;
}

.drop, .result {
  margin: 0 auto;
  min-height: 300px;
  background-color: #ccc;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.result {
  background-color: #c5c5a5;
  cursor: default;
}
.drop .label, .result .label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #f0f0f0;
  font-size: 40px;
}
.drop canvas {
  max-height: 500px;
  width: auto;
}
.drop input[type=file] {
  display: none;
}

.container {
  background-color: #f0f0f0;
  padding: 15px;
}

.diagram {
  display: block;
  background-color: #fff;
  width: 256px;
  height: 100px;
  margin: 30px auto;
}

.cols {

}
.col {
  width: 50%;
  padding: 15px;
  float: left;
}
